
html, body {
    height: 100%;
}

body {
    background: url("../assets/cartoon-style-clouds.png");
}

#page {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    margin-bottom: 100px;
    min-height: 800px;
}

#slotMachine-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 49%;
    position: relative;
}

#slotMachine-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

#slotMachine {
    width: 100%;
}

#controlBox {
    padding: 10px;
    background: linear-gradient(#FFDC71, #CDA019);
    box-shadow: 0 5px 5px #999;
    display: flex;
    justify-content:space-between;
}
